; Don't commit downloaded Emacs packages
.packages/

; Ignore the org-publish cache
.org-cache/

; Do not ignore docs inside gh-pages
docs/
tags/
content/news.org

; Ignore Gemini output
gemini/

; Ignore auto generated MacOS files.
.DS_Store

; Ignore emacs virtual comments file
.evc